@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
.f1{
  font-family: 'Lato', sans-serif;
}
.f2{
   font-family: "Roboto Condensed", sans-serif;
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Scrollbar width */
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.custom-scrollbar {
  scrollbar-color: #888 #da2a2a00;
}
